@using Microsoft.AspNetCore.Http;
@using Furniture.Entities;
@model List<Product>
@{
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<br />

@*---------------------------------------------------------*@
<!-- Section-->
<section class="py-5">
    <a href="/Product/NewProduct/" class="btn btn-outline-dark"><i class="fas fa-plus"></i> Yeni Ürün Ekle </a>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @*--------------------------------------------------------------*@

            @foreach (var x in Model)
            {
                var dataTargetCancel = "#exampleModalCenter" + x.productID;
                var modalID = "exampleModalCenter" + x.productID;
                //------------------------------
                <div class="col mb-5">
                    @*<div class="card h-100">*@
                    <div class="card" style="width: 18rem;">
                        <!-- Product image-->
                        @*<img style="width:100%; height:15vw; object-fit:cover" class="card-img-top" src="@x.imageUrl" alt="..." />*@
                        <img style="width:100%; height:15vw; object-fit:cover" class="card-img-top" src="@Url.Content("~")/@x.imageUrl" alt="..." />
                        <!-- Product infos-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@x.productName</h5>
                                <!-- Product price-->
                                @x.productPrice ₺
                            </div>
                            <br />
                            <!-- Product features -->
                            <div class="text-center">
                                @*Modal*@
                                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="@dataTargetCancel">
                                    Detaylar
                                </button>
                                <div class="modal fade" id="@modalID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">@x.productName</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                @x.productFeatures
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Kapat</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*-------------------------------*@
                            </div>
                        </div>

                        @*----------------------------------------------------------------------------------------------*@
                        <!-- Product actions-->
                        <div class="text-center">
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent btn-group">
                                <a href="/Product/GetProduct?id=@x.productID" type="button" class="btn btn-outline-dark mt-auto">Güncelle</a>

                                <a href="/Product/DeleteProduct?id=@x.productID" type="button" onclick="return confirm('@x.productName ürününü silmek istediğinize emin misiniz?')" class="btn btn-outline-dark mt-auto">Sil</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*--------------------------------------------------------------*@
        </div>
    </div>
</section>

